### Concatenate PANDAS DataFrame
#### We can easily concatenate Pandas Dataframe using the <b>concat()</b> method

In [2]:
import pandas as pd

#Dataset
data1 = {
    'Student':["Amit", "John","Jacobi", "David", "Steve"],
    'Rank': [1,4,3,5,2],
    'Marks': [95, 70,80, 60, 90]
}

data2 = {
    'Id': ['101','102','103','104','105']
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1.to_string(index=False))
print("\n\n",df2.to_string(index=False))

#concat()

concatenatedDf = pd.concat([df1, df2, df2], axis=1)
print("\n\n",concatenatedDf.to_string(index=False))

Student  Rank  Marks
   Amit     1     95
   John     4     70
 Jacobi     3     80
  David     5     60
  Steve     2     90


  Id
101
102
103
104
105


 Student  Rank  Marks  Id  Id
   Amit     1     95 101 101
   John     4     70 102 102
 Jacobi     3     80 103 103
  David     5     60 104 104
  Steve     2     90 105 105