### PANDAS DATAFRAME

The Pandas Dataframe is a two-dimensional, tabular data, table with rows and columns. 

<ul>
<li><b>data</b>: The data to be stored in the Pandas Dataframe</li>
<li><b>index</b>: The index values to be provided for the resultant frame.</li>
<li><b>columns</b>: Set the column labels for the resultant frame if data doesnot mention before</li>
<li><b>dtype</b>: It is the datatype and only a single type is allowed.</li>
<li><b>copy</b>: To copy the input data</li>
</ul>

#### 1.Create a Pandas Dataframe

In [3]:
import pandas as pd

#Dataset
data = {
    'Student':["Amit", "John","Jacobi", "David", "Steve"],
    'Rank': [1,4,3,5,2],
    'Marks': [95, 70,80, 60, 90]
}

df = pd.DataFrame(data, index=['R0','R1', 'R2', 'R3', 'R4'])

print(df)

   Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2   Jacob     3     80
R3   David     5     60
R4   Steve     2     90

### 2.Accessing group of rows or columns in a pandas dataframe
#### The <b>dataframae.loc()</b> is used

In [5]:
print("Original datframe:\n\n",df)

#accessing the value in the Student column corresponding to the row value

print("\n\nValue = ",df.loc['R3','Student'])

Original datframe:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2   Jacob     3     80
R3   David     5     60
R4   Steve     2     90


Value =  David

### 3.Accessing group of rows or columns by integer in a pandas dataframe
#### The <b>dataframae.iloc()</b> is used

In [10]:
print("Dataframe:\n\n", df)

#Access using rows and column by integer position

print("\nAccessing 3rd and 4th row:\n", df.iloc[[3,4]])

Dataframe:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2   Jacob     3     80
R3   David     5     60
R4   Steve     2     90

Accessing 3rd and 4th row:
    Student  Rank  Marks
R3   David     5     60
R4   Steve     2     90

### 4.Naming own indexes in a pandas dataframe
#### The <b>index</b> arguement is used

In [11]:
print("Datframe\n\n",df)

#use the index arguement to set the index
df = pd.DataFrame(data, index=['R0','R1', 'R2', 'R3', 'R4'])

print(df)

Datframe

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2   Jacob     3     80
R3   David     5     60
R4   Steve     2     90
   Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2   Jacob     3     80
R3   David     5     60
R4   Steve     2     90

### 5. Iterate a pandas dataframe
#### To iterate dataframe and display the column names, we use for loop

In [14]:
print("Dataframe:\n\n",df)

print("\nDisplaying the columns:\n")

for col in df:
    print(col)

Dataframe:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2   Jacob     3     80
R3   David     5     60
R4   Steve     2     90

Displaying the columns:

Student
Rank
Marks