### DATAFRAME-ATTRIBUTES AND METHODS

The Pandas Dataframe is a Two-dimensional, tabular data, that uses the <b>Datframe</b> method to create a Dataframe. It also uses different built-in attributes and methods for basic functionalities.


<ol>
<li><b>dtypes</b>: Returns the dtypes in the DataFrame</li>
<li><b>ndim</b>: Return the number of dimensions of the DataFrame.</li>
<li><b>size</b>: Return the number of elements in the DataFrame</li>
<li><b>shape</b>: Return the dimensionality of the DataFrame in the form of a tuple.</li>
<li><b>T</b>: Transpose the rows and columns</li>
<li><b>head()</b>: Return the first n rows.</li>
<li><b>tail()</b>: Return the last n rows.</li>
<li><b>index</b>: Return the index of dataframe.</li>
</ol>

#### 1. dtypes

In [5]:
import pandas as pd

data = {
    'Student':["Amit", "John","Jacobi", "David", "Steve"],
    'Rank': [1,4,3,5,2],
    'Marks': [95, 70,80, 60, 90]
}

df = pd.DataFrame(data, index=['R0','R1', 'R2', 'R3', 'R4'])

print("Original data sets:\n\n",df)

#datatypes

print("\n\nDatatypes:\n", df.dtypes)

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90


Datatypes:
 Student    object
Rank        int64
Marks       int64
dtype: object

#### 2. ndim

In [6]:
print("Original data sets:\n\n",df)

#ndim

print("\nNumber of dmensions: ",df.ndim)

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90

Number of dmensions:  2

#### 3. size

In [8]:
print("Original data sets:\n\n",df)

#size

print("\nSize of DataFrame: ",df.size)

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90

Size of DataFrame:  15

#### 4. shape

In [9]:
print("Original data sets:\n\n",df)

#shape

print("\nShape of DataFrame: ", df.shape)

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90

Shape of DataFrame:  (5, 3)

#### 5. T => Transpose

In [10]:
print("Original data sets:\n\n",df)

#T

print("\n\nAfter applying transpose: \n\n", df.T)

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90


After applying transpose:

            R0    R1      R2     R3     R4
Student  Amit  John  Jacobi  David  Steve
Rank        1     4       3      5      2
Marks      95    70      80     60     90

#### 6.head()

In [11]:
print("Original data sets:\n\n",df)

#head

print("\nFirst two rows of dataframe:\n\n", df.head(2))

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90

First two rows of dataframe:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70

#### 7.tail()

In [12]:
print("Original data sets:\n\n",df)

#tail

print("\nLast two rows of dataframe:\n\n", df.tail(2))

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90

Last two rows of dataframe:

    Student  Rank  Marks
R3   David     5     60
R4   Steve     2     90

#### 8.index

In [14]:
print("Original data sets:\n\n",df)

#index 

print("\nIndexes of dataframe: ", df.index)

Original data sets:

    Student  Rank  Marks
R0    Amit     1     95
R1    John     4     70
R2  Jacobi     3     80
R3   David     5     60
R4   Steve     2     90

Indexes of dataframe:  Index(['R0', 'R1', 'R2', 'R3', 'R4'], dtype='object')