### Pandas-Sorting

To sort the data in Pandas dataframe we can use <b>sort_values()</b> method.

#### 1. Sort The DataFrame (Default Ascending Order)

To sort the DataFrame, use the <b>sort_values()</b> method. The default is acsending, Therefore we don't need to mention any value in the parameter for ascending sort.

We can sort by value i.e the <b>by</b> parameter wil be set to the column name by which we need to sort the Dataframe in ascending order.

In [4]:
import pandas as pd

#dataset 

data = {
    'name': ["Ram", "Shyam", "Hari", "Kosal"],
    'residency': ['Palpa','KTM','Btl','Bhw'],
    'phone':[98100000, 9900000,9811111, 9833333]
}

#dataframe

df = pd.DataFrame(data)

print("\nOriginal dataframe: \n\n", df)

df.sort_values(by='name',ascending=True )#ascending parameter is optional here

Original dataframe:

     name residency     phone
0    Ram     Palpa  98100000
1  Shyam       KTM   9900000
2   Hari       Btl   9811111
3  Kosal       Bhw   9833333

    name residency     phone
2   Hari       Btl   9811111
3  Kosal       Bhw   9833333
0    Ram     Palpa  98100000
1  Shyam       KTM   9900000

#### 2. Sort The DataFrame in Descending Order

To sort the DataFramein Descending order we use the <b>sort_values()</b> method. Set the <b>ascending</b> parameter of the method to <b>False</b>

We can sort by value i.e the <b>by</b> parameter wil be set to the column name by which we need to sort the Dataframe in descending order.

In [14]:
#sorting in descending order

df.sort_values(by=['name'], ascending=False)

    name residency     phone
1  Shyam       KTM   9900000
0    Ram     Palpa  98100000
3  Kosal       Bhw   9833333
2   Hari       Btl   9811111