### String OPerations On Text Data

We can easily perform operations on strings in Pandas using the string method.

Operations:

<ol>
<li><b>lower()</b>: Perform lowercase on text data.</li>
<li><b>upper()</b>: Perform uppercase on text data.</li>
<li><b>title()</b>: Convert text data to camel case.</li>
<li><b>len()</b>: To get the length of each element in the Series.</li>
<li><b>count()</b>: Count the non-empty cells for each column or row.</li>
<li><b>contain()</b>: Search for a value in a column.</li>
</ol>

In [28]:
import pandas as pd

# data 

data = ['Kamal', 'Kosal', "HARI", 'dhiraj',21, 'robertKr']

# series 

sr= pd.Series(data)

sr

0       Kamal
1       Kosal
2        HARI
3      dhiraj
4          21
5    robertKr
dtype: object

In [29]:
# text data to lower case

sr.str.lower()

0       kamal
1       kosal
2        hari
3      dhiraj
4         NaN
5    robertkr
dtype: object

In [30]:
# text data to upper case

sr.str.upper()

0       KAMAL
1       KOSAL
2        HARI
3      DHIRAJ
4         NaN
5    ROBERTKR
dtype: object

In [31]:
# text data to camel case

sr.str.title()

0       Kamal
1       Kosal
2        Hari
3      Dhiraj
4         NaN
5    Robertkr
dtype: object

In [32]:
#length of each element

sr.str.len()

0    5.0
1    5.0
2    4.0
3    6.0
4    NaN
5    8.0
dtype: float64

In [33]:
import numpy as np
data.append(np.nan)
print(data)

sr = pd.Series(data)

print("Original series:\n\n",sr)

sr.count()

['Kamal', 'Kosal', 'HARI', 'dhiraj', 21, 'robertKr', nan]
Original series:

 0       Kamal
1       Kosal
2        HARI
3      dhiraj
4          21
5    robertKr
6         NaN
dtype: object

6

In [38]:
# search value in series

sr.str.contains("Kosal")

0    False
1     True
2    False
3    False
4      NaN
5    False
6      NaN
dtype: object